    /* This page doesnt work in devices, with screen lower width then 310, cause this devices doesnt excist */
    @media only screen and (max-width: 310px) {
        *{
            display: none;
        }
    }



    /* Responsive code for tablets */
    @media only screen and (max-width: 1280px) {
        .sidemenu-container{
            display: none;
        }
        .top-menu_container{
            top: 0;
            left: 0;
            position: fixed;
            width: 100%;
            height: 33px;
            background-color: #06090f;
        }
        .logo-img{
            width: 25px;
            height:25px;
            padding-top: 5px;
            padding-left: 33px;
        }
        .content-container{
            width: 100%;
            margin-top: 33px;
        }
        .top-menu_logo{
            width: 10%;
            float: left;
        }
        .top-menu-links_container{
            width: 80%;
            float: right;
        }
        .top-menu-links_container, a{
            float: right;
            text-decoration: none;
            font-size: 12px;
            color:#1d508a;
            padding-right: 7px;
            padding-left: 3px;
            padding-top: 3px;
        }
        .logo{
            display: none;
        }
        .fatlum_maliqi{
            padding-top: 50px;
            padding-left: 38px;
        }
        .fatlum_img{
            width: 77%;
            height: 44%;
        }
        .first-hr{
            margin-top: 50px;
        }

        hr{
            width: 80%;
        }
        #about_content{
            padding-left: 15%;
            padding-right: 15%;
            font-family: arial, sans-serif;
            font-size: 15px;
            margin-top: 50px;
        }
        .first-about-p_content{
            padding-left: 0;
            padding-right: 0;
            padding-top: 25px;
        }
        .about-photos_container{
            text-align: center;
            width: 100%;
        }
        .fatlum-fig_left{
            width: 33%;
            float: left;
            margin-left: 20px;
        }
        .photo1{
            width: 120%;
            height: 100%;
        }
        .fatlum-fig_right{
            width: 33%;
            float: right;
            margin-right: 20px;
        }
        .photo2{
            width: 80%;
            height: 100%;
        }
        .second-hr{
            width: 50%;
        }
        figcaption{
            display: none;
        }
        .education{
            padding-top: 200px;
        }
        .education_right{
            float:none;
            box-sizing:border-box;
            width:100%;
            padding:5px;
            min-height:200px;
        }
        .edu-img_right{
            float: none;
            width: 60%;
            height: 30%;
            padding-left: 20%;
        }
        .education_left{
            float:none;
            box-sizing:border-box;
            width:100%;
            padding:5px;
            min-height:200px;
        }
        .edu-img_left{
            float: none;
            width: 60%;
            height: 30%;
            padding-left: 20%;
        }
        footer{
            left: 0;
            bottom: 0;
            position: relative;
            margin-top: 111px;
            width: 100%;
            background-color: #141e33;
            height: 55px;
        }
        .fb-ig-twiter{
            width: 20px;
            height: 20px;
        }
        .footer_left{
            width: 40%;
            float: left;
            padding-left: 10px;
            padding-top: 5px;
            font-size: 10px;
        }
        .footer_right{
            width: 40%;
            float: right;
            padding-right: 10px;
            padding-bottom: 33px;
            padding-top: 5px;
        }
    }



    /* Responsive code for mobile phones */
    @media only screen and (max-width: 444px) {
        .sidemenu-container{
            display: none;
        }
        .top-menu_container{
            top: 0;
            left: 0;
            position: fixed;
            width: 100%;
            height: 33px;
            background-color: #06090f;
        }
        .logo-img{
            width: 25px;
            height:25px;
            padding-top: 5px;
            padding-left: 33px;
        }
        .content-container{
            width: 100%;
            margin-top: 33px;
        }
        .top-menu_logo{
            width: 10%;
            float: left;
        }
        .top-menu-links_container{
            width: 80%;
            float: right;
        }
        .top-menu-links_container, a{
            text-decoration: none;
            text-transform: lowercase;
            font-size: 13px;
            padding-top: 5px;
            color: #1d508a;
            padding-right: 3px;
            padding-left: 3px;
        }
        .logo{
            display: none;
        }
        .fatlum_maliqi{
            padding-top: 50px;
            padding-left: 38px;
        }
        .fatlum_img{
            width: 77%;
            height: 44%;
        }
        h2{
            font-size: 100%;
        }
        .first-hr{
            margin-top: 50px;
        }
        hr{
            width: 80%;
        }
        #about_content{
            padding-left: 10px;
            padding-right: 10px;
            font-family: arial, sans-serif;
            font-size: 10px;
            margin-top: 50px;
        }
        .first-about-p_content{
            padding-left: 0;
            padding-right: 0;
            padding-top: 25px;
        }
        .about-photos_container{
            text-align: center;
            width: 100%;
        }
        .fatlum-fig_left{
            width: 33%;
            float: left;
            margin-left: 20px;
        }
        .photo1{
            width: 120%;
            height: 100%;
        }
        .fatlum-fig_right{
            width: 33%;
            float: right;
            margin-right: 20px;
        }
        .photo2{
            width: 80%;
            height: 100%;
        }
        .second-hr{
            width: 50%;
        }
        figcaption{
            display: none;
        }
        .education{
            padding-top: 200px;
        }
        .education_right{
            float:none;
            box-sizing:border-box;
            width:100%;
            padding:5px;
            min-height:200px;
        }
        .edu-img_right{
            float: none;
            width: 60%;
            height: 30%;
            padding-left: 20%;
        }
        .education_left{
            float:none;
            box-sizing:border-box;
            width:100%;
            padding:5px;
            min-height:200px;
        }
        .edu-img_left{
            float: none;
            width: 60%;
            height: 30%;
            padding-left: 20%;
        }
        footer{
            left: 0;
            bottom: 0;
            position: relative;
            margin-top: 55px;
            width: 100%;
            background-color: #141e33;
            height: 55px;
        }
        .fb-ig-twiter{
            width: 15px;
            height: 15px;
        }
        .footer_left{
            width: 60%;
            float: left;
            padding-left: 10px;
            padding-top: 5px;
            font-size: 10px;
        }
        .footer_right{
            width: 25%;
            float: right;
            padding-right: 10px;
            padding-top: 0px;
            padding-bottom: 30px;
        }
        br{
            display: none;
        }
    }




    /* Responsive for laptops and computers */
    /* I made this media queri just to hide one nav bar, so doesnt show both */
    @media only screen and (min-width: 1281px) {
        .top-menu_container{
            display: none;
        }
    }